
.frontpage-title{
  padding: 15px;
  width: 100%;
  background: #000;
  color: #fff;
  font: 700 16px $font__main;
  text-transform: uppercase;
}
article.post{
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #e7e7e7;
}

.meta-time{
  margin: 20px 15px 0 0;
  width: 70px;
  height: 70px;
  padding: 5px;
  background: #c3c3c3;

  a{
    display: block;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.44);
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;

    .number{
      display: block;
      font-size: 36px;
      font-weight: 700;
    }
  }
}

.main-part-article{
  max-width: 628px;
}

.comments-link, .category-link{
  padding: 5px;
  margin-right: 5px;
  display: inline-block;
  width: 105px;
  height: 24px;
  background: #ecebeb;

}

.entry-meta{
  font: 13px 'Arial',sans-serif;
  .fa{
    padding-right: 5px;
    color: #a09e9e;
  }
}

.comments-link{
  color: #5e5e5e;
}
.category-link{
  color: #000;
}

.entry-content{
  p{
    color: #a5a4a4;
    font: 14px/24px 'Arial',sans-serif;
    text-align: justify;

    .more-link {
      margin-top: 10px;
      padding: 6px 10px;
      display: block;
      width: 157px;
      height: 35px;
      background: $color__brand;
      font: 14px $font__main;
      text-transform: uppercase;

      .meta-nav{
        margin-left: 8px;
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url('img/meta-nav.png')no-repeat;
      }
    }
  }
}

.pagination{
  float: right;
  display: flex;
}
.page-numbers{
 display: inline-block;
  margin-left: 3px;
  padding: 5px 0;
  width: 25px;
  height: 25px;
  background: #e2e2e2;
  text-align: center;
  font-size: 13px;

  &:hover, &:focus{
    background: #222222;
    color: #fff;
  }
}