.wrapper{
  margin-top: 20px;
  padding: 5px;
  width: 704px;
  background: #fff;
}
.page-header{
  margin: 0 0 5px 0;
  padding: 15px;
  width: 100%;
  background: #000;
  color: #fff;
  font: 700 16px $font__main;
  text-transform: uppercase;
}
.gallery-item{
  width: 340px;
  height: 190px;

  &:hover,&:focus{
    .hover-overlay{
      display: block;
      cursor: pointer;
    }
  }
}

.post-title-overlay{
  position: absolute;
  margin: 0;
  padding: 7px 13px;
  top: 0;
  height: 35px;
  width: 200px;
  background: $color__brand;
  font: 300 16px $font__main;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 10;
}

.hover-overlay{
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(34,34,34,0.5);
  z-index: 5;

  p{
    margin-top: 120px;
    padding: 10px;
    height: 63px;
    color: #fff;
    font: 300 16px $font__main;
    overflow: hidden;
  }
}

.masonry{
  .pagination{
    position: absolute;
    right: 0;
    bottom: -40px;
  }
}