footer {
  background: $background-dark;
  color: $font-color-footer;
}

.copiright {
  padding-bottom: 35px;
  display: block;
  text-transform: uppercase;
}

.icon {
  display: inline-block;
  width: 35px;
  border: 1px solid #373839;
  line-height: 30px;
  text-align: center;

  a{
    color: #8a8a8a;
  }

  &:hover, &:focus {
    background: $secondary-color;
    border: 1px solid $secondary-color;

  }
}

.footer-heading {
  padding-bottom: 30px;
  color: white;
  font-size: 18px;
}

.footer-menu-item {
  width: 100%;
  line-height: 35px;
  border-bottom: 1px solid #373839;

  a {
    color: #7b7b7c;
    text-transform: uppercase;
  }

  &::before {
    content: "";
    padding-right: 10px;
    display: inline-block;
    height: 5px;
    border-left: 5px solid $secondary-color;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }

  &:first-child{
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  &:hover, &:focus {
    a{
      color: $secondary-color;
    }
  }
}


@media screen and (min-width: 380px){
  .logo.footer {
      margin-top: 40px;
    }
  }



