.news {
  background: $background;

  .container {
    &::after {
      @include triangles;
    }
  }
}

.news-item {
  padding: 35px 0;
  border-bottom: 1px solid #d8dcdf;

  &:first-child {
    padding-top: 0;
    display: flex;
    width: 100%;
  }
  &:last-child {
    border-bottom: none;
  }

  .news-date {
    display: block;
    margin: 15px 0 20px 0;
    font-weight: 700;
    color: $secondary-color;
  }
}

.main-news {
  float: right;
  > h3 {
    padding: 35px 0 20px 0;
  }
  >img {
    width: 98%;
  }
}
.counter {
  display: block;
  float: left;
  margin-right: 30px;
  width: 70px;
  text-align: right;
}
.counter-items {
  display: block;

  .counter-item {
    padding-bottom: 20px;

    &::after {
      content: "";
      margin-top: 20px;
      display: block;
      width: 70px;
      height: 1px;
      background: url("../img/counter-line.png") no-repeat;
    }

    &:last-child {
      &::after{
        content: none;
      }
    }
  }

  .date{
    span{
      display: block;
      font: 700 30px "Open Sans";
      color: $font-main-color;
    }
  }

  .comments {
    &::before{
      content: "";
      margin-left: 35px;
      display: block;
      width: 30px;
      height: 28px;
      background: url("../img/comment-icon.png") no-repeat;
    }
  }

  .views {
    &::before {
      content: "";
      margin-left: 35px;
      display: block;
      width: 30px;
      height: 22px;
      background: url("../img/view-icon.png") no-repeat;
    }
  }
}

@media screen and (min-width: 900px){
  .news {
    .news-item {
      width: 50%;
      float: right;

      &:first-child {
        float: left;
        padding: 0 30px 80px;
        border-bottom: none;
      }
      &:nth-child(2) {
        padding-top: 0;
      }
    }
  }
  .btn{

  }
}

@media screen and (min-width: 1140px){
  .news{
    .container {
      &::after {
        right: 200px;
      }
    }
  }
}