.services {
  background: $background;

  .container {
    &::after {
      @include triangles;
    }
  }
}
.services-items{
  padding-top: 50px;
}
.service-item {
  >a {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
  }
  img {
    margin-right: 20px;
    display: block;
    width: 63px;
    height: 63px;
    filter: grayscale(100%);
    &:hover, :focus {
      filter: grayscale(0);
    }
  }
  .heading{
    &:hover, &:focus {
      color: $font-main-color;
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 15px;
        height: 2px;
        background: $primary-color;
      }
    }
  }
}


.heading {
  margin-bottom: 21px;
}

@media screen and(min-width: 610px) {
  .services-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .service-item {
      width: 48%;
    }
  }
}

@media screen and (min-width: 1040px){
  .services{
    .container {
      &::after {
        right: 200px;
      }
    }
  }
}
