.footer-form{
  input,textarea {
    padding: 20px;
    width: 100%;
    background: transparent;
    border: 1px solid #373839;
    color: #737476;
    font: 14px "Open Sans";
  }
  textarea {
    height: 100px;
    resize: none;
  }
}
input.btn {
  margin-top: 10px;
  background: transparent;
}

.main-form {
  width: 100%;
  input[type="text"], input[type="email"], input[type="number"], textarea, select {
    padding: 15px 0;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #dce3e8;
    background: transparent;
    color: #757c81;
    font: 700 14px "Open Sans";
    text-transform: uppercase;

    &:hover, &:focus {
      border-bottom: 1px solid $secondary-color;
    }
  }
  select {
    width: 100%;
    background: transparent;
    color: rgba(162, 168, 171, 0.97);
  }
  textarea {
    height: 295px;
    resize: none;
  }
  input .btn {
    margin-top: 40px;
    width: 165px;

  }
}


.testimonial-form {
  width: 100%;

  .left-side, .right-side{
    width: 50%;
  }
  .flex-content {
    display: flex;
    justify-content: space-around;

  }
  input[type="text"], input[type="email"], input[type="number"], textarea {
    width: 99%;
    margin: 10px 20px 10px 0;
    padding: 15px 30px;
    background: transparent;
    outline: none;
    border: 1px solid #dfe5ea;
    text-transform: uppercase;
  }
  input[type="submit"]{
  }
  textarea {
    margin-top: 10px;
    height: 208px;
    resize: none;
  }

}

.search-form {
  margin: 30px 0 140px 0;
  input[type="text"] {
    width: 100%;
    position: relative;
    padding: 13px 20px;
    border: none;
    outline: none;
  }
}

@media screen and (min-width: 768px) {
  .first-line-input {
    width: 49%;
    display: inline-block;
    &:first-child {
      border-right: none;
    }
  }
}