.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background: $color__brand;

	ul {
		display: none;
		justify-content: space-around;
		list-style: none;
		margin: 0;
		padding: 10px;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;


		&:hover > a,
		&.focus > a {
		}

		&:hover, &focus{
			background: #fff;

			&::before{
				content: '';
				position: absolute;
				margin-top: 11px;
				border-left: 10px solid #ffd500;
				border-top: 7px solid #fff;
				border-bottom: 7px solid #fff;
			}
		}

	}

	a {
		padding: 7px 18px 7px 12px;
		display: block;
		font: 15px $font__main;
		text-decoration: none;
		text-transform: uppercase;
	}

	.current_page_item ,
	.current-menu-item ,
	.current_page_ancestor,
	.current-menu-ancestor {
		background: #fff;

		&::before{
			content: '';
			position: absolute;
			margin-top: 11px;
			border-left: 10px solid #ffd500;
			border-top: 7px solid #fff;
			border-bottom: 7px solid #fff;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
	flex-direction: column;
	align-items: center;

	li{
		padding: 4px 0;
		border-bottom: 1px solid rgba(255,255,255,0.7);

		&:hover, &focus{
			background: #fff;
		}
	}
}

@media screen and (min-width: 992px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
		flex-direction: row;

		li{
			border-right: 1px solid rgba(255,255,255,0.3);

			&:last-child{
				border-right: none;
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

