.top {
  background: url("../img/contact-background.png") no-repeat;
}
.contacts{
   margin-bottom: 35px;

  .contact-phone,.contact-email {
    width: 300px;
    color: $font-main-color;
    text-transform: uppercase;

  }
  .contact-phone{
    font: 700 16px "Open Sans";

    &::before {
      content: "";
      margin: 10px 0 -7px 0;
      display: inline-block;
      background: url("../img/phone-icon.png") no-repeat;
      width: 23px;
      height: 23px;
    }

  }
  .contact-email {
    margin-top: 10px;
    border: 2px solid $secondary-color;
    font: 700 16px/40px Raleway;
    text-align: center;
  }
}

.post-address {
  clear: both;
  padding: 140px 100px;
  background: url("../img/canada.png") no-repeat;

  .country {
    padding: 0;
    color: $secondary-color;
    font: 800 30px Raleway;
    text-transform: uppercase;
  }
  .address {
    padding: 0;
    color: white;
    font: 700 16px Raleway;
    text-transform: uppercase;
  }
}

.contact-form {
  background: $background;
}
.contact-form {
  .container {
    &::after {
      @include triangles;
    }
  }
}


@media screen and (min-width: 390px) {
 .contacts{
   display: flex;
   justify-content: space-between;
   .contact-email {
     margin-top: 0;
   }
}
}


@media screen and (min-width: 1040px) {
  .contact-form {
    .container {
      &::after {
        right: 200px;
      }
    }
  }
}