.services-boosting-your-business-2 {
  background: url("img/services-bg.png") center no-repeat;
}

.product {
  padding: 100px 0;

  &:first-child {
    padding-top: 0;
  }
  .container{
    .section-heading{
      padding-bottom: 30px;
    }
  }
}

.binate {
  text-align: right;
}

