.top {
  background: url("../img/testimonials-background.png") no-repeat;
}
.testimonials-content {
  &::before {
    content: "";
    position: absolute;
    right: 15%;
    display: block;
    width: 235px;
    height: 155px;
    background: url("../img/quote-icon-close.png") no-repeat;
  }
}
.recall-first, .recall-binate, .recall-third {
  padding: 70px 0;
  position: relative;
}
.recall-first{
  padding-top: 0;

  .container {
    &::after {
      @include triangles;
    }
  }
}


.recall-binate{
  background: $background;
}
.quote {
  margin: 10px auto;
  display: block;
  max-width: 750px;
  padding: 35px 40px;
  background: #fff;
  border: 1px solid #eaeff3;
  img{
    width: 100%;
    height: auto;
  }
  .fa-quote-left, .fa-quote-right {
    display: block;
    margin: -5px 0 0 -18px;
  }
  p{
    display: block;
    padding-bottom: 25px;
  }
  .category {
    color: $secondary-color;
  }
}

.post-comments {
  padding-bottom: 100px;
  .container {
    &::after {
      @include triangles;
    }
  }
}

@media screen and (min-width: 1040px) {
  .recall-first {
    .container {
      &::after {
        right: 200px;
      }
    }
  }
  .post-comments {
      .container {
        &::after {
          right: 200px;
        }
      }
    }
  .quote {
    width: 620px;
    position: absolute;
    top: 25%;
    right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .quote {
    width: 750px;
    right: 3%;
  }
}

@media screen and (min-width: 1300px) {
  .quote {
    right: 7%;
  }
}

@media screen and (min-width: 1400px) {
  .quote {
    right: 12%;
  }
}