$font__main: 'Oswald', sans-serif;
$font__second: "Arial", sans-serig;
$font__code: "Arial", sans-serig;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1;
$font__line-height-pre: 1;