.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

body{
	background-image: linear-gradient(to top, #ffffff 70%, #d1d1cf 100%);
}

.site-header, .site-footer{
	background-color: #111110;
	background-color: rgba(255, 255, 255, 0);
	background-image: linear-gradient(to top, #010101 0%, #2c2c2b 100%);
}