ul, ol {
	margin: 0 ;
	list-style: none;
}


li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.search-form {
	ul {
		display: flex;
		justify-content: space-between;
		padding: 6px 0;

		li{
			height: 20px;
			border-left: 1px solid rgba(255,255,255,0.3);
			&:first-child{
				border: none;
			}
		}
	}
}