.slider{
  margin-top: 15px;
  background: url('img/bg-dots.png');
}

.slick-list{
  margin: 5px;
}
.slick-track{
  margin-top: -10px;
}
.slick-dots {
  top: 25px;
  bottom: auto;

  li {
    margin-bottom: 3px;
    padding-left: 650px;
    display: block;
    width: 25px;
    height: 25px;

    &:hover, &:focus{
      button{
        color: #ffd500;
        background: #222222;
      }
    }
  }
}

.slick-dots .slick-active {
  button{
    color: #ffd500;
    background: #222222;
  }
}
.slick-dots li button {
  padding: 5px;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 0;
  outline: none;
  color: #fff;
  background: rgba(34,34,34,0.42);
  font: 13px "Arial",sans-serif;

  &::before{
    display: none;
  }
}

figcaption{
  width: 99.8%;
  height: 90px;
  padding: 15px;
  border-top: 3px solid $color__brand;
  color: #fff;
  background: #000;

  .slide-title{
    margin: 0;
    font: 22px $font__main;
  }
  p{
    font: 300 15px $font__main;
  }

  &::before{
    content: '';
    position: absolute;
    bottom: 100px;
    margin-left: 20px;
    border-bottom: 60px solid $color__brand;
    border-left: 70px solid transparent;
  }

  &::after{
  content: '';
  position: absolute;
  bottom: 100px;
  margin-left: 55px;
  border-bottom: 60px solid transparent;
  border-left: 35px solid transparent;
}
}