.hero-404 {
  background: url("img/404-first-section.png") no-repeat;
}

.error-content{
  .container {
    &::after {
      @include triangles;
    }
  }
  .info {
    margin: 0 auto;
    max-width: 530px;

    .error-heading {
      margin: 0 auto;
      max-width: 370px;
      font: 300 72px/72px "Open Sans";
      text-transform: uppercase;
      color: #000;

      .big-number {
        color: $primary-color;
        font-weight: 800;
      }
    }
    .error-description {
      margin-top: 35px;
      background: $secondary-color;
      padding: 10px 25px;
      @include border-radius(30px);
      text-transform: uppercase;
      text-align: center;
    }
  }
}



@media screen and (min-width: 1040px) {
  .error-content {
    .container {
      &::after {
        right: 200px;
      }
    }
  }
}