.partners {
  .container {
    &::after {
      @include triangles;
    }
  }

  .partners-slider {
    padding: 50px 0;
  }
}
.partner-item {
  margin: 40px 0 20px;
  width: 104px;
  height: 128px;
  border: 1px solid #eaeff3;
  overflow: hidden;
  img{
    height: auto;
    width: 75%;
    padding: 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1040px){
  .partners{
    .container {
      &::after {
        right: 200px;
      }
    }
  }
}

