@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin triangles {
  content: "";
  display: block;
  position: absolute;
  right: 15px;
  background: url("../img/triangles.png") no-repeat;
  width: 218px;
  height: 101px;
}