.hero.front-page{
  background: url('img/hero_bg.png')no-repeat;
  background-size: cover;
  height: 100vh;
}
.hero{
  padding-top: 0;
}
.front-page{
  .site-header{
    border-bottom: 1 px solid #fff;
  }

    .site-title{
      float: left;
      a {
        color: #fff;
      }
    }

}
.site-header{
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}


.social-links-menu{
  padding-top: 20px;
  float: right;

  >li{
    display: inline-block;
    margin-left: 10px;
    padding: 7px 12px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: #fefefe;
    text-align: center;
    opacity: 0.7;

    a {
      color: #666262;
    }
    &:hover, &:focus{
      opacity: 0.9;
      a{
        color: #666262;
      }
    }
  }
}

.search{
  margin-top: -5px;

}
.search-field{
  background: transparent;
  border: none;
  outline: none;
  font-size: 0;
}

input.search-submit{
  background-image: url('img/magnify-glass.png') no-repeat;
  border: none;
  outline: none;
  font-size: 0;

}

.intro{
  margin: 0 auto 100px;
  padding: 150px 0 100px;
  max-width: 100%;
  color: #fff;
  text-align: center;

  >h2{
    text-transform: uppercase;
    color: #fff;
  }
}

.intro-description{
  padding: 25px 0;
  font: 22px $font__helvetica;
  color: #fff;
}

.green{
  color: $color__hover_text;
  &:hover, &:focus{
    text-decoration: underline;
  }
}
